# Idea files
.idea/*

# Mac files
.DS_Store

# Byte-compiled / optimized / DLL files
*.manifest
*.spec

# Jekyll dev or build files
_site/*
_scripts/*
_development_tool/*
.sass-cache/*
*.css.map
*.scssc
_data/*

# Theme Gem files
Gemfile.lock
*.gem

.Rproj.user

.Rproj


_posts/*.Rmd


